if site.data.link
  each i in s.link_list
    - var color = i.color || ""
    - var tag = i.tag || "默认"
    - var siteshot = i.siteshot || `https://image.thum.io/get/width/400/crop/800/allowJPG/wait/20/noanimate/${i.link}` || theme.default_img
    .site-card
      if color == "vip"
        span.site-card-tag.vip #[=tag]
      else if color == "speed"
        span.site-card-tag.speed #[=tag]
      else 
        span.site-card-tag #[=tag]
      a.img(target='_blank', title=`${i.name}`, href=`${i.link}`, rel='external nofollow')
        img.flink-avatar.entered.loaded(data-lazy-src=`${siteshot}`, onerror=`this.onerror=null;this.src='${theme.default_img}'`, alt=`${i.name}`, style="pointer-events: none;", data-ll-status='loaded', src=`${siteshot}`)
      a.info.cf-friends-link(target='_blank', title=`${i.name}`, href=`${i.link}`, rel='external nofollow')
        .site-card-avatar
          img.flink-avatar.cf-friends-avatar.entered.loaded.no-fancybox(data-lazy-src=`${i.avatar}`, onerror=`this.onerror=null;this.src='${theme.default_img}'`, alt=`${i.name}`, data-ll-status='loaded', src=`${i.avatar}`)
        .site-card-text
          span.title.cf-friends-name #[=i.name]
          span.desc(title=`${i.descr}`) #[=i.descr]