- var nav=theme.nav
nav#nav.show
  #nav-group
    #blog_name
      .back-home-button(tabindex='-1')
        if nav.left_groups.enable
          i.back-home-button-icon(class=`${nav.group_icon}`)
          .back-menu-list-groups
            each item in nav.left_groups.group
              .back-menu-list-group
                .back-menu-list-title=item.title
                  .back-menu-list
                    each i in item.a_item
                      if i.class == "in"
                        a.back-menu-item(href=`${i.link}` rel='external nofollow' title=`${i.text}` target='_blank')
                          img.back-menu-item-icon.entered.loading(src=`${i.img}` data-ll-status='loading')
                          span.back-menu-item-text=i.text
                      else if i.class == "out"
                        a.back-menu-item(href=`${i.link}` title=`${i.text}` target='_blank')
                          img.back-menu-item-icon.entered.loading(src=`${i.img}` data-ll-status='loading')
                          span.back-menu-item-text=i.text
                      else 
                        a.back-menu-item(href=`${i.link}` title=`${i.text}` target='_blank')
                          img.back-menu-item-icon.entered.loading(src=`${i.img}` data-ll-status='loading')
                          span.back-menu-item-text=i.text
      if nav.logo.enable
        a#site-name(href='/' title='返回博客主页')
          if nav.logo.class == "i_class"
            i(class=`${nav.logo.custom}`)
          else if nav.logo.class == "img"
            i(style=`background-image: url('${url_for(nav.logo.custom)}')`)
          else if nav.logo.class == "text"
            i=nav.logo.custom
    #page-name-mask
      #page-name
        a#page-name-text(onclick='acy.scrollToDest(0, 500)')
          span #[=config.title]
    #menus
      !=partial('includes/header/menu_item', {}, {cache: true})
    #nav-left
      if nav.fps_enable
        script(src="/js/fps.js") 
        #fps-group.show
          #fps
          span.fpsText FPS
    #nav-right
      if nav.right_button.travelling.enable
        .nav-button.only-home#travellings_button(style='display: none')
          a.site-page(target='_blank' rel='noopener external nofollow' href='https://www.travellings.cn/go.html' title='随机前往一个开往项目网站')
            i(class=`${nav.right_button.travelling.icon}`)
      if nav.right_button.random.enable
        .nav-button#randomPost_button
          a.site-page(onclick='toRandomPost()' title='随机前往一个文章' data-pjax-state)
            i(class=`${nav.right_button.random.icon}`)
      if theme.algolia_search.enable || theme.local_search.enable
        .nav-button#search-button
          a.site-page.social-icon.search(title='站内搜索' href='javascript:void(0);' rel='external nofollow' data-pjax-state)
            i(class=`${nav.right_button.search}`)
      if nav.right_button.console.enable
        .nav-button#nav-console
          a.console_switchbutton(onclick='heo.showConsole()' title='显示中控台' href='javascript:void(0);' rel='external nofollow' data-pjax-state)
            i(class=`${nav.right_button.console.icon}`)
      .nav-button#nav-totop(onclick='btf.scrollToDest(0, 500)')
        a.totopbtn(data-pjax-state)
          i(class=`${nav.right_button.totop}`)
          span#percent
      #toggle-menu
        a.site-page(data-pjax-state)
          i.heofont.icon-menu-fill
