- let comments = theme.comments
#post-info
  #post-firstinfo
    .meta-firstline
      a.post-meta-original(title='该文章为原创文章，注意版权协议', href='/cc/', data-pjax-state) 原创
      if (theme.post_meta.post.categories && page.categories.data.length > 0)
        each item, index in page.categories.data
          span.post-meta-categories
            a(href=url_for(item.path), data-pjax-state).post-meta-categories #[=item.name]
      .tag_share
        if (theme.post_meta.post.tags)
        .post-meta__tag-list
          each item, index in page.tags.data
            a(href=url_for(item.path),  data-pjax-state).post-meta__tags
              span.tags-punctuation #
              span.tags-name #[=item.name]
  h1.post-title= page.title || _p('no_title')
  #post-meta
    .meta-secondline
      - let postWordcount = theme.wordcount.enable && (theme.wordcount.post_wordcount || theme.wordcount.min2read)
      if (postWordcount)
        span.post-meta-separator 
        span.post-meta-wordcount
          if theme.wordcount.post_wordcount
            i.far.fa-file-word.fa-fw.post-meta-icon
            span.post-meta-label= _p('post.wordcount') + ':'
            span.word-count= wordcount(page.content)
            if theme.wordcount.min2read
              span.post-meta-separator 
          if theme.wordcount.min2read
            i.far.fa-clock.fa-fw.post-meta-icon
            span.post-meta-label= _p('post.min2read') + ':'
            span= min2read(page.content, {cn: 350, en: 160}) + _p('post.min2read_unit')
      if (theme.post_meta.post.date_type)
      span.post-meta-date
        if (theme.post_meta.post.date_type === 'both')
          i.fa-fw.post-meta-icon.fas.fa-calendar
          time.post-meta-date-created(datetime=date_xml(page.date) title=_p('post.created') + ' ' + full_date(page.date))=date(page.date, config.date_format)
          span.post-meta-separator 
          i.fas.fa-history.fa-fw.post-meta-icon
          time.post-meta-date-updated(datetime=date_xml(page.updated) title=_p('post.updated') + ' ' + full_date(page.updated))=date(page.updated, config.date_format)
        else
          - let data_type_update = theme.post_meta.post.date_type === 'updated'
          - let date_type = data_type_update ? 'updated' : 'date'
          - let date_icon = data_type_update ? 'fas fa-history' :'fas fa-calendar'
          - let date_title = data_type_update ? _p('post.updated') : _p('post.created')
          i.fa-fw.post-meta-icon(class=date_icon)
          span.post-meta-label= date_title
      span.post-meta-wechat(title='该文章在博客首发')
        i.fas.fa-compass.post-meta-icon
        | 博客独享
      span.post-meta-position(title='作者IP属地为成都')
        i.fas.fa-location-dot.post-meta-icon
        | 成都
      span.post-meta-pv(data-flag-title='热度')
        i.fab.fa-hotjar.fa-fw.post-meta-icon
        span.post-meta-label 热度:
        span#busuanzi_value_page_pv
      if comments.count && !comments.lazyload && page.comments !== false && comments.use
        - var whichCount = comments.use[0]

        mixin countBlock
          span.post-meta-commentcount(title='评论数', href='#post-comment')
            i.fa-solid.fa-message
            span.post-meta-label= _p('post.comments') + ':'
            if block
              block
        
        case whichCount
          when 'Disqus'
            +countBlock
              span.disqus-comment-count
                a(href=full_url_for(page.path) + '#disqus_thread')
                  i.fa-solid.fa-spinner.fa-spin
          when 'Disqusjs'
            +countBlock
              a(href=full_url_for(page.path) + '#disqusjs')
                span.disqus-comment-count(data-disqus-url=full_url_for(page.path))
                  i.fa-solid.fa-spinner.fa-spin
          when 'Valine'
            +countBlock
              a(href=url_for(page.path) + '#post-comment' itemprop="discussionUrl")
                span.valine-comment-count(data-xid=url_for(page.path) itemprop="commentCount")
                  i.fa-solid.fa-spinner.fa-spin
          when 'Waline'
            +countBlock
              a(href=url_for(page.path) + '#post-comment')
                span.waline-comment-count(data-path=url_for(page.path))
                  i.fa-solid.fa-spinner.fa-spin
          when 'Gitalk'
            +countBlock
              a(href=url_for(page.path) + '#post-comment')
                span.gitalk-comment-count
                  i.fa-solid.fa-spinner.fa-spin
          when 'Twikoo'
            +countBlock
              a(href=url_for(page.path) + '#post-comment', data-pjax-state)
                span#twikoo-count
          when 'Facebook Comments'
            +countBlock
              a(href=url_for(page.path) + '#post-comment')
                span.fb-comments-count(data-href=urlNoIndex())
                  i.fa-solid.fa-spinner.fa-spin
          when 'Remark42'
            +countBlock
              a(href=url_for(page.path) + '#post-comment')
                span.remark42__counter(data-url=urlNoIndex())
                  i.fa-solid.fa-spinner.fa-spin