if theme.aside.card_all_info.enable
  .card-widget.card-tags.card-archives.card-webinfo.card-allinfo
    .card-tag-cloud!= cloudTags({source: site.tags})
    hr
    .webinfo
      if theme.aside.card_all_info.post_count
        .webinfo-item
          .webinfo-item-title
            i.item-icon.fas.fa-file-alt
            .item-name= _p('aside.card_webinfo.article_name') + " :"
          .item-count= site.posts.length
      if theme.aside.card_all_info.runtime
        .webinfo-item
          .webinfo-item-title
            i.item-icon.fas.fa-stopwatch
            .item-name= _p('aside.card_webinfo.runtime.name') + " :"
          .item-count#runtimeshow(data-publishDate=date_xml(theme.runtimeshow.publish_date))
      if theme.wordcount.enable && theme.aside.card_all_info.word_count
        .webinfo-item
          .webinfo-item-title
            i.item-icon.fas.fa-font
            .item-name=_p('aside.card_webinfo.site_wordcount') + " :"
          .item-count=totalcount(site)
      