.card-widget.card-info
  .card-content
    .card-info-avatar.is-center
      #author-info__sayhi.author-info__sayhi 晚上好！我是
      .author-info__name= config.author
      .author-info__description!= theme.aside.card_author.description || config.description
  .banner-button-group
    a.banner-button(onclick=`pjax.loadUrl(${theme.aside.card_author.button.link})` data-pjax-state='')
      i(class=theme.aside.card_author.button.icon)
      span.banner-button-text #[=theme.aside.card_author.button.text]
  .card-info-social-icons.is-center
    each i in theme.aside.card_author.social
      a.social-icon(href=`${i.link}` rel='external nofollow' target='_blank' title=`${i.title}`)
        i(class=`${i.icon}`)