div
  script(src=url_for(theme.asset.utils))
  script(src=url_for(theme.asset.main))

  if theme.translate.enable
    script(src=url_for(theme.asset.translate))

  if theme.fancybox
    script(src=url_for(theme.asset.fancybox_v4))

  if theme.instantpage
    script(src=url_for(theme.asset.instantpage), type='module')

  if theme.lazyload.enable
    script(src=url_for(theme.asset.lazyload))

  if theme.snackbar.enable
    script(src=url_for(theme.asset.snackbar))

  if theme.pangu.enable
    != partial("includes/third-party/pangu.pug", {}, { cache: true })

  //- search
  if theme.algolia_search.enable
    script(src=url_for(theme.asset.algolia_search_v4))
    script(src=url_for(theme.asset.instantsearch_v4))
    script(src=url_for(theme.asset.algolia_js))
  else if theme.local_search.enable
    script(src=url_for(theme.asset.local_search))

  if theme.loading.enable
    != partial("includes/loading/loading-js", {}, { cache: true })

  .js-pjax
    if needLoadCountJs
      != partial("includes/third-party/card-post-count/index", {}, { cache: true })

    include ./third-party/math/index.pug

    if commentsJsLoad
      include ./third-party/comments/js.pug
  
  script(type='text/javascript', src='https://cdn1.tianli0.top/npm/jquery@latest/dist/jquery.min.js')
  script(src='/js/heo.js')
  script(src='/js/blogex.js')
  script(src='/heo/random.js')
  script(data-pjax, src='/lib/swiper.min.js')
  if theme.footer.footer_friend_links.enable
    !=randomLinks()
  != fragment_cache('injectBottom', function(){return injectHtml(theme.inject.bottom)})

  if theme.aplayerInject && theme.aplayerInject.enable
    if theme.pjax.enable || theme.aplayerInject.per_page
      include ./third-party/aplayer.pug
    else if page.aplayer
      include ./third-party/aplayer.pug

  if theme.pjax.enable
    != partial("includes/third-party/pjax", {}, { cache: true })

  if theme.busuanzi.site_uv || theme.busuanzi.site_pv || theme.busuanzi.page_pv
    script(async data-pjax src='//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js')
