#footer_deal
  if theme.footer.footer_icons.enable
    each i in theme.footer.footer_icons.left
      if i.class == "in"
        a.deal_link(href=`${i.link}`, title=`${i.desrc}`,data-pjax-state)
          i(class=`${i.icon}`)
      else if i.class == "out"
        a.deal_link(target='_blank', rel='noopener external nofollow', href=`${i.link}`, title=`${i.desrc}`)
          i(class=`${i.icon}`)
      else 
        a.deal_link(href=`${i.link}`, title=`${i.desrc}`)
          i(class=`${i.icon}`)
  if theme.footer.footer_logo.enable
    img.footer_mini_logo.entered.loading(src=`${theme.footer.footer_logo.url}`, onclick='btf.scrollToDest(0,500)', title='返回顶部',data-ll-status="loading")
  if theme.footer.footer_icons.enable
    each i in theme.footer.footer_icons.right 
      if i.class == "in"
        a.deal_link(href=`${i.link}`, title=`${i.desrc}`,data-pjax-state)
          i(class=`${i.icon}`)
      else if i.class == "out"
        a.deal_link(target='_blank', rel='noopener external nofollow', href=`${i.link}`, title=`${i.desrc}`)
          i(class=`${i.icon}`)
      else 
        a.deal_link(href=`${i.link}`, title=`${i.desrc}`)
          i(class=`${i.icon}`)
if theme.footer.footer_group.enable
  #heo-footer
    each item in theme.footer.footer_group.footer_group_link
      .footer-group
        h3.footer-title=item.group_title
        .footer-links
          each i in item.footer_links
            if i.class == "in"
              a.footer-item(href=`${i.link}`, data-pjax-state)=i.text
            else if i.class == "out"
              a.footer-item(target='_blank', href=`${i.link}`)=i.text
            else 
              a.footer-item(href=`${i.link}`)=i.text
    if theme.footer.footer_friend_links.enable
      .footer-group#friend-links-in-footer
        h3.footer-title
          | 友链
          button(title='换一批', href='javascript:;', onclick='heo.randomLink()')
            i.fa-solid.fa-rotate-right
        .footer-links
          - var flink_num = Number(theme.footer.footer_friend_links.number)
          while flink_num--
            a.footer-item(target='_blank', href='') 加载中
          a.footer-item(href='/link/', data-pjax-state) 查看更多
#footer-banner
  .footer-banner-links
    .footer-banner-left
      .footer-banner-tips
        if theme.footer.footer_bottom.copyright.enable
          - var now = new Date()
          - var nowYear = now.getFullYear()
          if theme.footer.footer_bottom.copyright.time && theme.footer.footer_bottom.copyright.time != nowYear
            div.copyright!= `&copy;${theme.footer.footer_bottom.copyright.time} - ${nowYear} By `
              a.footer-banner-link(target='_blank', rel='noopener', href=`${config.url}`, title=`点击访问"${config.author}"的主页`, style='margin-left:5px')=config.author
          else
            div.copyright!= `&copy;${nowYear} By `
              a.footer-banner-link(target='_blank', rel='noopener', href=`${config.url}`, title=`点击访问"${config.author}"的主页`, style='margin-left:5px')=config.author
        if theme.footer.footer_bottom.left
          each i in theme.footer.footer_bottom.left
            a.footer-banner-link(target='_blank', href=`${i.link}`, rel='noopener external nofollow', title=`${i.desrc}`)=i.text
    .footer-banner-right
      if theme.footer.footer_bottom.runtime.enable
        #runtime(title='已运行时长') 本站已运行：0 天 0 时 0 分 0 秒
      if bottom_right
        each i in theme.footer.footer_bottom.right
          a.footer-banner-link(target='_blank', href=`${i.link}`, rel='noopener external nofollow', title=`${i.desrc}`)=i.text