#footer_deal
  if theme.footer.footer_icons.enable
      each i in theme.footer.footer_icons.left
        if i.class == "in"
          a.deal_link(href=`${i.link}`, title=`${i.desrc}`)
            i(class=`${i.icon}`)
        else if i.class == "out"
          a.deal_link(target='_blank', rel='noopener external nofollow', href=`${i.link}`, title=`${i.desrc}`)
            i(class=`${i.icon}`)
        else 
          a.deal_link(href=`${i.link}`, title=`${i.desrc}`)
            i(class=`${i.icon}`)
  img.footer_mini_logo.entered.loading(title='返回顶部' onclick='acy.scrollToDest(0, 500)' src=`${theme.footer.footer_logo.url}` data-ll-status='loading')
  if theme.footer.footer_icons.enable
      each i in theme.footer.footer_icons.right 
        if i.class == "in"
          a.deal_link(href=`${i.link}`, title=`${i.desrc}`)
            i(class=`${i.icon}`)
        else if i.class == "out"
          a.deal_link(target='_blank', rel='noopener external nofollow', href=`${i.link}`, title=`${i.desrc}`)
            i(class=`${i.icon}`)
        else 
          a.deal_link(href=`${i.link}`, title=`${i.desrc}`)
            i(class=`${i.icon}`)
#heo-footer
  each item in theme.footer.footer_group.footer_group_link
    .footer-group
        h3.footer-title=item.group_title
        .footer-links
          each i in item.footer_links
            if i.class == "in"
              a.footer-item(href=`${i.link}`)=i.text
            else if i.class == "out"
              a.footer-item(target='_blank', href=`${i.link}`)=i.text
            else 
              a.footer-item(href=`${i.link}`)=i.text
  if theme.footer.footer_friend_links.enable
    .footer-group
      .footer-title-group
        h3.footer-title 友链
        a.random-friends-btn(href='javascript:randomLinksList();;' rel='external nofollow' data-pjax-state='')
          i.fa-solid.fa-arrows-rotate
      #friend-links-in-footer.footer-links
#footer-banner
  .footer-banner-links
    .footer-banner-left
      #footer-banner-tips
        if theme.footer.footer_bottom.copyright.enable
          - var now = new Date()
          - var nowYear = now.getFullYear()
          - var time = theme.footer.footer_bottom.copyright.time
          if time && time != nowYear
            .copyright!= `&copy;${time} - ${nowYear} By `
              a(target='_blank',href='/',rel='external nofollow') #[=config.author]
          else
            .copyright!= `&copy;${nowYear} By `
              a(target='_blank',href='/',rel='external nofollow') #[=config.author]
    .footer-banner-right
      a.footer-banner-link(href='/rss/' ,data-pjax-state='' ,title="框架") Hexo
      a.footer-banner-link(href='/update/' ,data-pjax-state='' ,title="主题") Acrylic
      each i in theme.footer.footer_bottom.right
        a.footer-banner-link(target='_blank' ,href=`${i.link}` rel='noopener external nofollow noreferrer noopener') #[=i.text]
      a.footer-banner-link.cc(href=`${theme.copyright.link}` ,title=`${theme.copyright.short}` ,data-pjax-state='')
        i.fa-regular.fa-copyright
        i.fa-brands.fa-creative-commons-by
        i.fa-brands.fa-creative-commons-nc
        i.fa-brands.fa-creative-commons-nd