#home_top
  include ./bbTimeList.pug
  .recent-top-post-group#recent-top-post-group
    .recent-post-top#recent-post-top
      if theme.hometop.banner.enable
        #bannerGroup
          #banners
            if theme.hometop.banner.class == "people"
              canvas#peoplecanvas
                script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js") 
                script(src="/js/people.js") 
            if theme.hometop.banner.class == "creativity"
              .banners-title
                .banners-title-big=theme.hometop.banner.title_up
                .banners-title-big=theme.hometop.banner.title_dn
                .banners-title-small=theme.hometop.banner.tips
              .tags-group-all
                .tags-group-wrapper
                   .tags-group-icon-pair
                     .tags-group-icon(style='background:#fff')
                       img.no-lightbox.entered.loaded(title='Java' src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/633005bf0fd1e.jpg' data-lazy-src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/633005bf0fd1e.jpg' data-ll-status='loaded')
                     .tags-group-icon(style='background:#57b6e6')
                       img.no-lightbox(title='Docker' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' data-lazy-src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/63300647df7fa.png')
                   .tags-group-icon-pair
                     .tags-group-icon(style='background:#4082c3')
                       img.no-lightbox.entered.loaded(title='Photoshop' src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/63300647e1f10.png' data-lazy-src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/63300647e1f10.png' data-ll-status='loaded')
                     .tags-group-icon(style='background:#333')
                       img.no-lightbox(title='Node' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' data-lazy-src='https://npm.elemecdn.com/anzhiyu-blog@2.1.1/img/svg/node-logo.svg')
                   .tags-group-icon-pair
                     .tags-group-icon(style='background:#2e3a41')
                       img.no-lightbox.entered.loaded(title='Webpack' src='https://img02.anzhiy.cn/adminuploads/1/2022/09/26/6330ff27e5c9b.png' data-lazy-src='https://img02.anzhiy.cn/adminuploads/1/2022/09/26/6330ff27e5c9b.png' data-ll-status='loaded')
                     .tags-group-icon(style='background:#fff')
                       img.no-lightbox.entered.loaded(title='Pinia' src='https://npm.elemecdn.com/anzhiyu-blog@2.0.8/img/svg/pinia-logo.svg' data-lazy-src='https://npm.elemecdn.com/anzhiyu-blog@2.0.8/img/svg/pinia-logo.svg' data-ll-status='loaded')
                   .tags-group-icon-pair
                     .tags-group-icon(style='background:#fff')
                       img.no-lightbox.entered.loaded(title='Python' src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/63300647dea51.png' data-lazy-src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/63300647dea51.png' data-ll-status='loaded')
                     .tags-group-icon(style='background:#937df7')
                       img.no-lightbox.entered.loaded(title='Vite' src='https://npm.elemecdn.com/anzhiyu-blog@2.0.8/img/svg/vite-logo.svg' data-lazy-src='https://npm.elemecdn.com/anzhiyu-blog@2.0.8/img/svg/vite-logo.svg' data-ll-status='loaded')
                   .tags-group-icon-pair
                     .tags-group-icon(style='background:#4499e4')
                       img.no-lightbox.entered.loaded(title='Flutter' src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/633004063ff15.png' data-lazy-src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/633004063ff15.png' data-ll-status='loaded')
                     .tags-group-icon(style='background:#b8f0ae')
                       img.no-lightbox.entered.loaded(title='Vue' src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/633001374747b.png' data-lazy-src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/633001374747b.png' data-ll-status='loaded')
                   .tags-group-icon-pair
                     .tags-group-icon(style='background:#222')
                       img.no-lightbox.entered.loaded(title='React' src='data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMS41IC0xMC4yMzE3NCAyMyAyMC40NjM0OCI+CiAgPHRpdGxlPlJlYWN0IExvZ288L3RpdGxlPgogIDxjaXJjbGUgY3g9IjAiIGN5PSIwIiByPSIyLjA1IiBmaWxsPSIjNjFkYWZiIi8+CiAgPGcgc3Ryb2tlPSIjNjFkYWZiIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIi8+CiAgICA8ZWxsaXBzZSByeD0iMTEiIHJ5PSI0LjIiIHRyYW5zZm9ybT0icm90YXRlKDYwKSIvPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIiB0cmFuc2Zvcm09InJvdGF0ZSgxMjApIi8+CiAgPC9nPgo8L3N2Zz4K' data-lazy-src='data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMS41IC0xMC4yMzE3NCAyMyAyMC40NjM0OCI+CiAgPHRpdGxlPlJlYWN0IExvZ288L3RpdGxlPgogIDxjaXJjbGUgY3g9IjAiIGN5PSIwIiByPSIyLjA1IiBmaWxsPSIjNjFkYWZiIi8+CiAgPGcgc3Ryb2tlPSIjNjFkYWZiIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIi8+CiAgICA8ZWxsaXBzZSByeD0iMTEiIHJ5PSI0LjIiIHRyYW5zZm9ybT0icm90YXRlKDYwKSIvPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIiB0cmFuc2Zvcm09InJvdGF0ZSgxMjApIi8+CiAgPC9nPgo8L3N2Zz4K' data-ll-status='loaded')
                     .tags-group-icon(style='background:#2c51db')
                       img.no-lightbox.entered.loaded(title='CSS3' src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/633006cc55e07.png' data-lazy-src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/633006cc55e07.png' data-ll-status='loaded')
                   .tags-group-icon-pair
                     .tags-group-icon(style='background:#f7cb4f')
                       img.no-lightbox.entered.loaded(title='JS' src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/633006eee047b.png' data-lazy-src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/633006eee047b.png' data-ll-status='loaded')
                     .tags-group-icon(style='background:#e9572b')
                       img.no-lightbox.entered.loaded(title='HTML' src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/633006f9ab27d.png' data-lazy-src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/633006f9ab27d.png' data-ll-status='loaded')
                   .tags-group-icon-pair
                     .tags-group-icon(style='background:#df5b40')
                       img.no-lightbox.entered.loaded(title='Git' src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/633006e37c7fd.webp' data-lazy-src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/633006e37c7fd.webp' data-ll-status='loaded')
                     .tags-group-icon(style='background:#e65164')
                       img.no-lightbox.entered.loaded(title='Apifox' src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/633007087a4dc.webp' data-lazy-src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/633007087a4dc.webp' data-ll-status='loaded')
                   .tags-group-icon-pair
                     .tags-group-icon(style='background:#fff')
                       img.no-lightbox.entered.loaded(title='Java' src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/633005bf0fd1e.jpg' data-lazy-src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/633005bf0fd1e.jpg' data-ll-status='loaded')
                     .tags-group-icon(style='background:#57b6e6')
                       img.no-lightbox.entered.loaded(title='Docker' src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/63300647df7fa.png' data-lazy-src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/63300647df7fa.png' data-ll-status='loaded')
                   .tags-group-icon-pair
                     .tags-group-icon(style='background:#4082c3')
                       img.no-lightbox.entered.loaded(title='Photoshop' src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/63300647e1f10.png' data-lazy-src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/63300647e1f10.png' data-ll-status='loaded')
                     .tags-group-icon(style='background:#333')
                       img.no-lightbox.entered.loaded(title='Node' src='https://npm.elemecdn.com/anzhiyu-blog@2.1.1/img/svg/node-logo.svg' data-lazy-src='https://npm.elemecdn.com/anzhiyu-blog@2.1.1/img/svg/node-logo.svg' data-ll-status='loaded')
                   .tags-group-icon-pair
                     .tags-group-icon(style='background:#2e3a41')
                       img.no-lightbox(title='Webpack' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' data-lazy-src='https://img02.anzhiy.cn/adminuploads/1/2022/09/26/6330ff27e5c9b.png')
                     .tags-group-icon(style='background:#fff')
                       img.no-lightbox(title='Pinia' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' data-lazy-src='https://npm.elemecdn.com/anzhiyu-blog@2.0.8/img/svg/pinia-logo.svg')
                   .tags-group-icon-pair
                     .tags-group-icon(style='background:#fff')
                       img.no-lightbox(title='Python' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' data-lazy-src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/63300647dea51.png')
                     .tags-group-icon(style='background:#937df7')
                       img.no-lightbox(title='Vite' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' data-lazy-src='https://npm.elemecdn.com/anzhiyu-blog@2.0.8/img/svg/vite-logo.svg')
                   .tags-group-icon-pair
                     .tags-group-icon(style='background:#4499e4')
                       img.no-lightbox(title='Flutter' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' data-lazy-src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/633004063ff15.png')
                     .tags-group-icon(style='background:#b8f0ae')
                       img.no-lightbox(title='Vue' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' data-lazy-src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/633001374747b.png')
                   .tags-group-icon-pair
                     .tags-group-icon(style='background:#222')
                       img.no-lightbox(title='React' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' data-lazy-src='data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMS41IC0xMC4yMzE3NCAyMyAyMC40NjM0OCI+CiAgPHRpdGxlPlJlYWN0IExvZ288L3RpdGxlPgogIDxjaXJjbGUgY3g9IjAiIGN5PSIwIiByPSIyLjA1IiBmaWxsPSIjNjFkYWZiIi8+CiAgPGcgc3Ryb2tlPSIjNjFkYWZiIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIi8+CiAgICA8ZWxsaXBzZSByeD0iMTEiIHJ5PSI0LjIiIHRyYW5zZm9ybT0icm90YXRlKDYwKSIvPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIiB0cmFuc2Zvcm09InJvdGF0ZSgxMjApIi8+CiAgPC9nPgo8L3N2Zz4K')
                     .tags-group-icon(style='background:#2c51db')
                       img.no-lightbox(title='CSS3' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' data-lazy-src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/633006cc55e07.png')
                   .tags-group-icon-pair
                     .tags-group-icon(style='background:#f7cb4f')
                       img.no-lightbox(title='JS' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' data-lazy-src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/633006eee047b.png')
                     .tags-group-icon(style='background:#e9572b')
                       img.no-lightbox(title='HTML' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' data-lazy-src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/633006f9ab27d.png')
                   .tags-group-icon-pair
                     .tags-group-icon(style='background:#df5b40')
                       img.no-lightbox(title='Git' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' data-lazy-src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/633006e37c7fd.webp')
                     .tags-group-icon(style='background:#e65164')
                       img.no-lightbox(title='Apifox' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' data-lazy-src='https://img02.anzhiy.cn/adminuploads/1/2022/09/25/633007087a4dc.webp')
            a#banner-hover(onclick='toRandomPost()', data-pjax-state)
              span.bannerText 随便逛逛
              i.fas.fa-arrow-right.banner-righticon
          if theme.hometop.categoryGroup.enable
            .categoryGroup
              each item in theme.hometop.categoryGroup.category_list
                .categoryItem(style=`box-shadow:${item.shadow}`)
                  a.categoryButton(onclick=`pjax.loadUrl("${item.path}");` href='javascript:void(0);' class=`${item.class}`)
                    span.categoryButtonText=item.name
                    i(class=`${item.icon}`)
      if theme.hometop.topgroup.enable
        .topGroup
          if theme.hometop.topgroup.class == "card"
            .todayCard#todayCard(style='z-index: 1;')
              .todayCard-info
                .todayCard-tips=theme.hometop.topgroup.card.tips
                .todayCard-title=theme.hometop.topgroup.card.title
              .todayCard-cover(style=`background: url(\'${theme.hometop.topgroup.card.bg}\') no-repeat center /cover`)
              .banner-button-group
                a.banner-button(href=`${theme.hometop.topgroup.card.link}`, data-pjax-state='external')
                  i(class=`${theme.hometop.topgroup.card.icon}`)
                  span.banner-button-text=theme.hometop.topgroup.card.buttontext
          if theme.hometop.topgroup.class == "post"
            - site.posts.sort(sort, -1).limit(postLimit).each(function(article){
              - let link = article.link || article.path
              - let title = article.title || _p('no_title')
              - let no_cover = article.cover === false || !theme.cover.aside_enable ? 'no-cover' : ''
              - let post_cover = article.cover
              .recent-post-item
                .post_cover.left_radius
                  a(href=url_for(link), title=`${article.title}`, data-pjax-state)
                    span.recent-post-top-text(onclick=`pjax.loadUrl("` + article.link + `");`) 荐 
                    img.post_bg.entered.loaded(src=url_for(post_cover) alt=title)
                .recent-post-info(onclick=`pjax.loadUrl("` + article.link + `");`)
                  a.article-title(href=url_for(link), title=`${article.title}`, data-pjax-state)=article.title
            - })
          if theme.hometop.topgroup.class == "both"
            - site.posts.sort(sort, -1).limit(postLimit).each(function(article){
              - let link = article.link || article.path
              - let title = article.title || _p('no_title')
              - let no_cover = article.cover === false || !theme.cover.aside_enable ? 'no-cover' : ''
              - let post_cover = article.cover
              .recent-post-item
                .post_cover.left_radius
                  a(href=url_for(link), title=`${article.title}`, data-pjax-state)
                    span.recent-post-top-text(onclick=`pjax.loadUrl("` + article.link + `");`) 荐 
                    img.post_bg.entered.loaded(src=url_for(post_cover) alt=title)
                .recent-post-info(onclick=`pjax.loadUrl("` + article.link + `");`)
                  a.article-title(href=url_for(link), title=`${article.title}`, data-pjax-state)=article.title
            - })

            .todayCard#todayCard(onclick=`window.open(\'${theme.hometop.topgroup.card.link}\')`, style='z-index: 1;')
              .todayCard-info
                .todayCard-tips=theme.hometop.topgroup.card.tips
                .todayCard-title=theme.hometop.topgroup.card.title
              .todayCard-cover(style=`background: url(\'${theme.hometop.topgroup.card.bg}\') no-repeat center /cover`)
              .banner-button-group
                a.banner-button(onclick=`window.event.cancelBubble=true;heo.hideTodayCard();`, data-pjax-state='external')
                  i(class=`${theme.hometop.topgroup.card.icon}`)
                  span.banner-button-text=theme.hometop.topgroup.card.buttontext

  style(type='text/css').
    .recent-post-item:nth-child(n+7) {
    display: none;
    }
