-
  var options = {
    prev_text: '<i class="fas fa-chevron-left fa-fw"></i><div class="pagination-prev">上页</div>',
    next_text: '<div class="pagination-next">下页</div><i class="fas fa-chevron-right fa-fw"></i>',
    mid_size: 1,
    escape: false
  }

if is_post()
  nav#pagination.pagination-post
    if(page.prev)
      .prev-post(class=pull-left)
        a(href=url_for(page.prev.path))
          .pagination-info
            .label=_p('pagination.prev')
            .prev_info=page.prev.title
            //- Display the article introduction on homepage
          
    if(page.next)
      .next-post(class=pull-right)
        a(href=url_for(page.next.path))
          .pagination-info
            .label=_p('pagination.next')
            .next_info=page.next.title
else
  nav#pagination
    .pagination
      if is_home()
        - options.format = 'page/%d/#content-inner'
      !=paginator(options)