#article-container
  .flink#banners
    .banners-title
      .banners-title-small 友情链接
      .banners-title-big 与数百名博主无限进步
    .banner-button-group
      a.banner-button.secondary(onclick='travelling()', data-pjax-state)
        i.fas.fa-shuffle
        span.banner-button-text 随机访问
      a.banner-button(href="#post-comment", rel='external nofollow', data-pjax-state)
        i.fas.fa-circle-chevron-right
        span.banner-button-text 申请友链
    .tags-group-all.nowrapMove
      .tags-group-wrapper
        .tags-group-icon-pair
          a.tags-group-icon(href='https://blog.zhheo.com/', target='_blank', title='张洪Heo')
            img.entered.loading(src='https://cdn2.tianli0.top/gh/timigomen/cdn/img/20230108141348.png', title='张洪Heo', onerror='this.onerror=null', data-ll-status='loading')
          a.tags-group-icon(href='https://blog.zhheo.com/', target='_blank', title='小冰')
            img.entered.loading(src='https://cdn2.tianli0.top/gh/timigomen/cdn/img/20230108141434.png', title='小冰', onerror='this.onerror=null', data-ll-status='loading')
        .tags-group-icon-pair
          a.tags-group-icon(href='https://akilar.top/', rel='external nofollow', target='_blank', title='Akilar')
            img.entered.loading(src='https://cdn2.tianli0.top/gh/timigomen/cdn/img/20230108141450.png', title='Akilar', onerror='this.onerror=null', data-ll-status='loading')
          a.tags-group-icon(href='https://akilar.top/', rel='external nofollow', target='_blank', title='小康')
            img.entered.loading(src='https://cdn2.tianli0.top/gh/timigomen/cdn/img/20230108141502.png', title='小康', onerror='this.onerror=null', data-ll-status='loading')
        .tags-group-icon-pair
          a.tags-group-icon(href='https://immmmm.com/', rel='external nofollow', target='_blank', title='林木木')
            img.entered.loading(src='https://cdn2.tianli0.top/gh/timigomen/cdn/img/20230108141604.png', title='林木木', onerror='this.onerror=null', data-ll-status='loading')
          a.tags-group-icon(href='https://immmmm.com/', rel='external nofollow', target='_blank', title='风记星辰')
            img.entered.loading(src='https://cdn2.tianli0.top/gh/timigomen/cdn/img/20230108141615.png', title='风记星辰', onerror='this.onerror=null', data-ll-status='loading')
        .tags-group-icon-pair
          a.tags-group-icon(href='https://www.imaegoo.com/', rel='external nofollow', target='_blank', title='iMaeGoo')
            img.entered.loading(src='https://cdn2.tianli0.top/gh/timigomen/cdn/img/20230108141628.png', title='iMaeGoo', onerror='this.onerror=null', data-ll-status='loading')
          a.tags-group-icon(href='https://www.imaegoo.com/', rel='external nofollow', target='_blank', title='LinkinStar')
            img.entered.loading(src='https://cdn2.tianli0.top/gh/timigomen/cdn/img/20230108141641.png', title='LinkinStar', onerror='this.onerror=null', data-ll-status='loading')
        .tags-group-icon-pair
          a.tags-group-icon(href='https://blog.eurkon.com/', rel='external nofollow', target='_blank', title='Eurkon')
            img.entered.loading(src='https://cdn2.tianli0.top/gh/timigomen/cdn/img/20230108141651.png', title='Eurkon', onerror='this.onerror=null', data-ll-status='loading')
          a.tags-group-icon(href='https://blog.eurkon.com/', rel='external nofollow', target='_blank', title='Adil')
            img.entered.loading(src='https://cdn2.tianli0.top/gh/timigomen/cdn/img/20230108141704.png', title='Adil', onerror='this.onerror=null', data-ll-status='loading')
        .tags-group-icon-pair
          a.tags-group-icon(href='https://noionion.top/', rel='external nofollow', target='_blank', title='贰猹')
            img.entered.loading(src='https://cdn2.tianli0.top/gh/timigomen/cdn/img/20230108141716.png', title='贰猹', onerror='this.onerror=null', data-ll-status='loading')
          a.tags-group-icon(href='https://noionion.top/', rel='external nofollow', target='_blank', title='思宁小椭圆')
            img.entered.loading(src='https://cdn2.tianli0.top/gh/timigomen/cdn/img/20230108141725.png', title='思宁小椭圆', onerror='this.onerror=null', data-ll-status='loading')
        .tags-group-icon-pair
          a.tags-group-icon(href='https://tianli-blog.club/', rel='external nofollow', target='_blank', title='Tianli')
            img.entered.loading(src='https://cdn2.tianli0.top/gh/timigomen/cdn/img/20230108141748.png', title='Tianli', onerror='this.onerror=null', data-ll-status='loading')
          a.tags-group-icon(href='https://tianli-blog.club/', rel='external nofollow', target='_blank', title='Black Flies')
            img.entered.loading(src='https://cdn2.tianli0.top/gh/timigomen/cdn/img/20230108141810.png', title='Black Flies', onerror='this.onerror=null', data-ll-status='loading')
        .tags-group-icon-pair
          a.tags-group-icon(href='https://blog.dorakika.cn/', rel='external nofollow', target='_blank', title='DORAKIKA')
            img.entered.loading(src='https://cdn2.tianli0.top/gh/timigomen/cdn/img/20230108141819.png', title='DORAKIKA', onerror='this.onerror=null', data-ll-status='loading')
          a.tags-group-icon(href='https://blog.dorakika.cn/', rel='external nofollow', target='_blank', title='小N同学')
            img.entered.loading(src='https://cdn2.tianli0.top/gh/timigomen/cdn/img/20230108141828.png', title='小N同学', onerror='this.onerror=null', data-ll-status='loading')
        .tags-group-icon-pair
          a.tags-group-icon(href='https://blog.leonus.cn/', rel='external nofollow', target='_blank', title='Leonus')
            img.entered.loading(src='https://cdn2.tianli0.top/gh/timigomen/cdn/img/20230108141838.png', title='Leonus', onerror='this.onerror=null', data-ll-status='loading')
          a.tags-group-icon(href='https://blog.leonus.cn/', rel='external nofollow', target='_blank', title='轻笑Chuckle')
            img.entered.loading(src='https://cdn2.tianli0.top/gh/timigomen/cdn/img/20230108141847.png', title='轻笑Chuckle', onerror='this.onerror=null', data-ll-status='loading')
        .tags-group-icon-pair
          a.tags-group-icon(href='https://www.anzifan.com/', rel='external nofollow', target='_blank', title='异次元de机智君')
            img.entered.loading(src='https://cdn2.tianli0.top/gh/timigomen/cdn/img/20230108141905.png', title='异次元de机智君', onerror='this.onerror=null', data-ll-status='loading')
          a.tags-group-icon(href='https://www.anzifan.com/', rel='external nofollow', target='_blank', title='RoversX')
            img.entered.loading(src='https://cdn2.tianli0.top/gh/timigomen/cdn/img/20230108141913.png', title='RoversX', onerror='this.onerror=null', data-ll-status='loading')
        .tags-group-icon-pair
          a.tags-group-icon(href='https://anzhiy.cn/', rel='external nofollow', target='_blank', title='安知鱼')
            img.entered.loading(src='https://cdn2.tianli0.top/gh/timigomen/cdn/img/20230108141919.png', title='安知鱼', onerror='this.onerror=null', data-ll-status='loading')
          a.tags-group-icon(href='https://anzhiy.cn/', rel='external nofollow', target='_blank', title='wallleap')
            img.entered.loading(src='https://cdn2.tianli0.top/gh/timigomen/cdn/img/20230108141928.png', title='wallleap', onerror='this.onerror=null', data-ll-status='loading')
        .tags-group-icon-pair
          a.tags-group-icon(href='https://ishya.top/', rel='external nofollow', target='_blank', title='Uki')
            img.entered.loading(src='https://cdn2.tianli0.top/gh/timigomen/cdn/img/20230108141938.png', title='Uki', onerror='this.onerror=null', data-ll-status='loading')
          a.tags-group-icon(href='https://ishya.top/', rel='external nofollow', target='_blank', title='小染笔记')
            img.entered.loading(src='https://cdn2.tianli0.top/gh/timigomen/cdn/img/20230108141952.png', title='小染笔记', onerror='this.onerror=null', data-ll-status='loading')
        .tags-group-icon-pair
          a.tags-group-icon(href='https://www.leadwhite.net/', rel='external nofollow', target='_blank', title='leadwhite')
            img.entered.loading(src='https://cdn2.tianli0.top/gh/timigomen/cdn/img/20230108142015.png', title='leadwhite', onerror='this.onerror=null', data-ll-status='loading')
          a.tags-group-icon(href='https://www.leadwhite.net/', rel='external nofollow', target='_blank', title='Aohui')
            img.entered.loading(src='https://cdn2.tianli0.top/gh/timigomen/cdn/img/20230108142034.png', title='Aohui', onerror='this.onerror=null', data-ll-status='loading')
        .tags-group-icon-pair
          a.tags-group-icon(href='https://zhangshier.vip/', rel='external nofollow', target='_blank', title='张时贰')
            img(src='https://cdn2.tianli0.top/gh/timigomen/cdn/img/20230108142118.png', title='张时贰', onerror='this.onerror=null')
          a.tags-group-icon(href='https://zhangshier.vip/', rel='external nofollow', target='_blank', title='UTS')
            img(src='https://cdn2.tianli0.top/gh/timigomen/cdn/img/20230108142133.png', title='UTS', onerror='this.onerror=null')
        .tags-group-icon-pair
          a.tags-group-icon(href='https://blog.linsnow.cn/', rel='external nofollow', target='_blank', title='L1nSn0w')
            img(src='https://cdn2.tianli0.top/gh/timigomen/cdn/img/20230108142147.png', title='L1nSn0w', onerror='this.onerror=null')
          a.tags-group-icon(href='https://blog.linsnow.cn/', rel='external nofollow', target='_blank', title='CC康纳百川')
            img(src='https://cdn2.tianli0.top/gh/timigomen/cdn/img/20230108142201.png', title='CC康纳百川', onerror='this.onerror=null')
  .flink
    if page.flink_url
      script.
        (()=>{
          const replaceSymbol = (str) => {
            return str.replace(/[\p{P}\p{S}]/gu, "-")
          }

          let result = ""
          fetch("!{url_for(page.flink_url)}")
            .then(response => response.json())
            .then(str => {
              for(let i = 0; i < str.length; i++){
                const replaceClassName = replaceSymbol(str[i].class_name)
                const className = str[i].class_name ? `<h2 id="${replaceClassName}"><a href="#${replaceClassName}" class="headerlink" title="${str[i].class_name}"></a>${str[i].class_name}</h2>` : ""
                const classDesc = str[i].class_desc ? `<div class="flink-desc">${str[i].class_desc}</div>` : ""
                
                let listResult = ""
                const lists = str[i].link_list
                for(let j = 0; j < lists.length; j++){
                  listResult += `
                    <div class="flink-list-item">
                      <a href="${lists[j].link}" title="${lists[j].name}" target="_blank">
                        <div class="flink-item-icon">
                          <img class="no-lightbox" src="${lists[j].avatar}" onerror='this.onerror=null;this.src="!{url_for(theme.error_img.flink)}"' alt="${lists[j].name}" />
                        </div>
                        <div class="flink-item-name">${lists[j].name}</div> 
                        <div class="flink-item-desc" title="${lists[j].descr}">${lists[j].descr}</div>
                      </a>
                    </div>`
                }

                result += `${className}${classDesc} <div class="flink-list">${listResult}</div>`
              }

              document.querySelector(".flink").insertAdjacentHTML("afterbegin", result)
            })
        })()

    else
      if site.data.link
        - let result = ""
        each i in site.data.link
          - let className = i.class_name ? markdown(`## ${i.class_name}`) : ""
          - let classDesc = i.class_desc ? `<div class="flink-desc">${i.class_desc}</div>` : ""

          - let listResult = ""

          each j in i.link_list
            - 
              listResult += `
                <div class="flink-list-item">
                  <a href="${j.link}" title="${j.name}" target="_blank">
                    <div class="flink-item-icon">
                      <img class="no-lightbox" src="${j.avatar}" onerror='this.onerror=null;this.src="${url_for(theme.error_img.flink)}"' alt="${j.name}" />
                    </div>
                    <div class="flink-item-name">${j.name}</div> 
                    <div class="flink-item-desc" title="${j.descr}">${j.descr}</div>
                  </a>
                </div>`
            -

          - result += `${className}${classDesc} <div class="flink-list">${listResult}</div>`

        - page.content = result + page.content
    != page.content

